/* Rectangle 17 */

position: absolute;
width: 3308px;
height: 7455px;

/* Light 2 */

background: #EEEEEE;

/* design-82a0ada5-644e-4b87-ae41-88faf9684ea3 (1) 1 */

position: absolute;
width: 328px;
height: 519px;
right: 261px;
top: 288px;
background: url(design-82a0ada5-644e-4b87-ae41-88faf9684ea3 (1).png);